<div class="container">
    <h1>{{"About" |translate}}</h1>
    <h3>NU Engineering Project Database System</h3>
    <p>
        This thesis focuses on designing and developing a database system for engineering projects with complex
        requirements at Naresuan University. Managing data for engineering projects with their increasing complexity and
        volume has become a challenge and necessity. A well-structured database system is crucial to efficiently
        collect, store, and retrieve project-related data, facilitating insightful analysis and informed decision-making
        throughout the project lifecycle.
    </p>
    <p>
        The aim of this research is to design and implement a database system tailored for intricate engineering
        projects within the university. The system considers user requirements and employs appropriate database
        technologies to enhance workflow efficiency and decision-making. The user-friendly interface and robust security
        features of the database system cater to user needs effectively.
    </p>
    <p>
        Research outcomes demonstrate the stability and efficiency of the developed database system. It showcases time
        savings in data retrieval and decision-making processes. User satisfaction with the system's usability further
        validates its success.
    </p>
    <p>
        This study underscores the significance of developing a database system for complex engineering projects and
        presents research findings as guidelines for future database system development in engineering projects.
    </p><br>
    <p class="text-center"><strong>Keywords:</strong> Database system, Engineering projects, Complex requirements, Data
        management, Decision-making.</p>
</div>

<div class="container text-center">
    <h1 style="text-align: center;">{{"About Team" |translate}}</h1><br>

    <div class="team-member">
        <div class="safe-circle-container">
            <!-- <img src="src/app/img/safe.jpg" alt="Team Member 1"> -->
        </div>
        <div class="member-details">
            <h2>Mr.Phattaraphon Soitha</h2>
            <b>
                <p>นายภัทรพล สร้อยทา</p>
            </b><br>
            <p>ระดับการศึกษาปริญญาตรี สาขาวิศวกรรมคอมพิวเตอร์
                คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</p>
            <a style="font-size: medium;">Email: phattaraphons63@nu.ac.th</a><br>
            <a style="font-size: medium;">Phone: 0992926257</a>
        </div><br>
    </div>

    <div class="team-member">
        <div class="pee-circle-container">
            <!-- <img src="src/app/img/safe.jpg" alt="Team Member 1"> -->
        </div>
        <div class="member-details">
            <h2>Mr.Peereeyut Nunti</h2>
            <b>
                <p>นายพีรียุตม์ นันติ</p>
            </b><br>
            <p>ระดับการศึกษาปริญญาตรี สาขาวิศวกรรมคอมพิวเตอร์
                คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร</p>
            <a style="font-size: medium;">Email: peereeyutn63@nu.ac.th</a><br>
            <a style="font-size: medium;">Phone: 0897822343</a>
        </div><br>
    </div>
    <div class="advisor-member ">
        <div class="advisor-circle-container">
            <!-- <img src="src/app/img/safe.jpg" alt="Team Member 1"> -->
        </div>
        <div class="member-details">
            <h2>Advisor</h2>
            <h2>DR. Suradet Jitprapaikulsarn</h2>
            <p> ดร.สุรเดช จิตประไพกุลศาล</p>
            <b><a style="font-size: medium;">Lecturer, Dept. of Electrical and Computer Engineering, Faculty of
                Engineering, Naresuan University,
                Phitsanulok, Thailand</a></b><br>
            <!-- Add more details if needed -->
        </div>
        <div class="p-6">
            <a style="font-size: medium;">Office : EE - 408, Electrical and Computer Engineering Building, Faculty of
                Engineering.</a><br><br>
            <a style="font-size: medium;">Email: suradet.j@gmail.com , suradet@nu.ac.th</a><br><br>
            <a style="font-size: medium;">Phone: 089-451-8144 , 055-96-4391 (Office)</a>
        </div>
    </div>
    
    <div class="footer p-6" style="font-size: medium; color: rgb(80, 80, 80);">
        <a>
            เว็บไซต์นี้เป็นส่วนหนึ่งของรายวิชา 305491 - 305492 โครงงานด้านวิศวกรรมคอมพิวเตอร์
            หลักสูตรปริญญาวิศวกรรมศาสตรบัณฑิต
        </a><br>
        <a>
            สาขาวิชาวิศวกรรมคอมพิวเตอร์ ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์
        </a><br>
        <a>คณะวิศวกรรมศาสตร์ มหาวิทยาลัยนเรศวร
        </a>
    </div>
</div>